body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #000;
    color: aliceblue;
}


/* header section */

.header{
    height: 100vh;
    box-sizing: border-box;
    background-image: url(tokyo\ neon\ 3840x2160.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.header__overlay{
    height: 100vh;
    width: 100%;
    background-color: #0009;
    position: absolute;
    z-index: 1;
}

.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.header__item-container p{
    text-wrap: pretty;
}

.header__img{
    min-width: 250px;
    max-width: 40%;
    border-radius: 50%;
    border: 6px solid white;
    margin: 20px;
}

h1{
    margin: 0;
    font-size: 3.2rem;
    text-wrap: balance;
}


/* navbar section */

.nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
}

.nav__ul{
    margin: 0;
    display: flex;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.nav__logo{
    width: 35px;
}
